mark,rp,rt,ruby,summary,time
{
  display:inline;
}

html
{
  width:100%;
}

body
{
  font-family:Arial, Helvetica, sans-serif;
  font-size:100%;
  color:#181818;
  min-width:960px;
  background:#171717;
}

.ic,.ic a
{
  border:0;
  float:right;
  background:#fff;
  color:red;
  width:50%;
  line-height:10px;
  font-size:10px;
  overflow:hidden;
  margin:-220% 0 0;
  padding:0;
}

.bg
{
  width:100%;
  background:url(../images/bg.jpg) center top no-repeat #fff;
  padding-bottom: 7px;
}

.main
{
  width:960px;
  line-height:1.5em;
  margin:0 auto;
  padding:0;
}

a
{
  color:#0dc2ce;
  outline:none;
}

.wrapper
{
  width:100%;
  overflow:hidden;
  position:relative;
}

p
{
  margin-bottom:18px;
}

.p1
{
  margin-bottom:8px;
}

.p2
{
  margin-bottom:15px;
}

.color-2
{
  color:#000;
}

.color-3
{
  color:#4f4f4f;
}

header
{
  width:100%;
  padding-bottom:44px;
  margin-bottom:-30px;
}

#page1 header
{
  min-height:600px;
  background:url(../images/header-bg.jpg) center top no-repeat;
}

.menu-row
{
  width:100%;
  background:url(../images/menu-tail.png) center top repeat-x;
  line-height:0.5em;
}

.menu
{
  width:100%;
  padding:0;
}

.menu li
{
  float:left;
  position:relative;
  background:url(../images/menu-spacer.gif) right 31px no-repeat;
}

.menu li.last-item
{
  background:none;
}

.menu li a
{
  display:block;
  width:230px;
  font-size:22px;
  line-height:1em;
  font-weight:400;
  color:#151515;
  text-align:center;
  letter-spacing:-1px;
  border-radius:0 0 8px 8px;
  -moz-border-radius:0 0 8px 8px;
  -webkit-border-radius:0 0 8px 8px;
  margin:0 0 4px;
  padding:31px 0 26px;
}

.menu li a.active,.menu li a:hover
{
  color:#fff;
  background-position:left top;
  background-color:#0DC2CE;
  box-shadow:0 0 4px rgba(0,0,0,0.20);
  -moz-box-shadow:0 0 4px rgba(0,0,0,0.8);
  -webkit-box-shadow:0 0 4px rgba(0,0,0,9);
}

h1
{
  position:relative;
  padding:31px 0 0 2px;
}

.dance-header
{
  position:relative;
  padding:3px 0 0 2px;
  height:74px;
}

#page1 h1
{
  padding:31px 0 0 49px;
}

.logo
{
  display:block;
  width:266px;
  height:74px;
  text-indent:-5000px;
  background:url(../images/logo.png) 0 0 no-repeat;
}

.patters-text
{
  font-size:28px;
  line-height:74px;
  color:#0DC2CE;
  font-weight:300;
  letter-spacing:-1px;
  margin:0 0 17px;
}

}

#content
{
  width:100%;
  padding:0 0 26px;
}

h2
{
  font-size:41px;
  line-height:1.219em;
  color:#151515;
  font-weight:300;
  letter-spacing:-1px;
  margin:0 0 18px;
}

h3
{
  font-size:35px;
  line-height:1.514em;
  color:#151515;
  font-weight:300;
  letter-spacing:-1px;
  margin:0 0 17px;
}

h4
{
  font-size:28px;
  line-height:1.214em;
  color:#0dc2ce;
  font-weight:300;
  letter-spacing:-1px;
  margin:0 0 6px;
}

.border-bot
{
  width:100%;
  padding-bottom:21px;
  background:url(../images/pic-1.gif) 0 bottom repeat-x;
}

dl span
{
  float:left;
  width:85px;
  font-size:14px;
}

dl dd
{
  font-size:13px;
}

aside
{
  width:100%;
  background:#efefef;
  padding:25px 0 51px;
}

footer
{
  width:100%;
  color:#fff;
  padding:7px 0 7px;
}

.footer-text
{
  font-size:22px;
  line-height:1.2em;
  font-weight:300;
  letter-spacing:-1px;
  margin-bottom:12px;
}

.footer-text b
{
  display:block;
  font-weight:300;
}

.footer-text strong
{
  color:#0dc2ce;
  font-weight:300;
}

article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video,#contact-form
{
  display:block;
}

a:hover,.menu li a,.list-1 li a,.list-2 li a,.link,.button,.logo,.footer-text a
{
  text-decoration:none;
}

.color-1,.footer-text a:hover
{
  color:#fff;
}

.information-header
{
  font-weight: bold;
  padding-top: 1em;
}

.heading-text
{
  font-weight: bold;
  color:#0dc2ce;
  padding-top: 1em;
}

.marginT15 {
  margin-top:15px; 
}

.padded-bottom
{
  padding-bottom: 1em
}
}
